<mat-toolbar class="header" color="primary">
  WORKPULS

  <div>
    <button
      mat-fab
      color="accent"
      class="mat-elevation-z8"
      (click)="test1()"
    ></button>
    <button
      mat-fab
      color="warn"
      class="mat-elevation-z8"
      (click)="test2()"
    ></button>
    <button
      mat-fab
      color="primary"
      class="mat-elevation-z8"
      (click)="test3()"
    ></button>
  </div>
</mat-toolbar>

<div class="wrapper">
  <general-info></general-info>

  <employee-table></employee-table>
</div>
